{% extends "admin/master.html" %}

{% block css %}
    <style>


        #auth_password {
            position: absolute;
            padding: 2px;
            margin-left: 34px;
            background-color: #72a230;
        }

        .dis {
            display: none;
        }

        .senddata{
            padding: 3px 17px;
            border-radius: 3px;
            margin-right: 20px;
            margin-left: 568px;
        }
    </style>
{% endblock %}

{% block main_content %}
    <div class="main-content" style="">

        <!-- User Info, Notifications and Menu Bar -->
        <nav class="navbar user-info-navbar" role="navigation">

            <!-- Left links for user info navbar -->
            <ul class="user-info-menu left-links list-inline list-unstyled">

                <li class="hidden-sm hidden-xs" style="min-height: 76px;">
                    <a href="#" data-toggle="sidebar">
                        <i class="fa-bars"></i>
                    </a>
                </li>

                <li class="dropdown hover-line" style="min-height: 76px;">
                    <a href="#" data-toggle="dropdown">
                        <i class="fa-envelope-o"></i>
                        <span class="badge badge-green">15</span>
                    </a>

                    <ul class="dropdown-menu messages">
                        <li>

                            <ul class="dropdown-menu-list list-unstyled ps-scrollbar ps-container">

                                <li class="active"><!-- "active" class means message is unread -->
                                    <a href="#">
											<span class="line">
												<strong>Luc Chartier</strong>
												<span class="light small">- yesterday</span>
											</span>

                                        <span class="line desc small">
												This ain’t our first item, it is the best of the rest.
											</span>
                                    </a>
                                </li>

                                <li class="active">
                                    <a href="#">
											<span class="line">
												<strong>Salma Nyberg</strong>
												<span class="light small">- 2 days ago</span>
											</span>

                                        <span class="line desc small">
												Oh he decisively impression attachment friendship so if everything.
											</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
											<span class="line">
												Hayden Cartwright
												<span class="light small">- a week ago</span>
											</span>

                                        <span class="line desc small">
												Whose her enjoy chief new young. Felicity if ye required likewise so doubtful.
											</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
											<span class="line">
												Sandra Eberhardt
												<span class="light small">- 16 days ago</span>
											</span>

                                        <span class="line desc small">
												On so attention necessary at by provision otherwise existence direction.
											</span>
                                    </a>
                                </li>

                                <!-- Repeated -->

                                <li class="active"><!-- "active" class means message is unread -->
                                    <a href="#">
											<span class="line">
												<strong>Luc Chartier</strong>
												<span class="light small">- yesterday</span>
											</span>

                                        <span class="line desc small">
												This ain’t our first item, it is the best of the rest.
											</span>
                                    </a>
                                </li>

                                <li class="active">
                                    <a href="#">
											<span class="line">
												<strong>Salma Nyberg</strong>
												<span class="light small">- 2 days ago</span>
											</span>

                                        <span class="line desc small">
												Oh he decisively impression attachment friendship so if everything.
											</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
											<span class="line">
												Hayden Cartwright
												<span class="light small">- a week ago</span>
											</span>

                                        <span class="line desc small">
												Whose her enjoy chief new young. Felicity if ye required likewise so doubtful.
											</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
											<span class="line">
												Sandra Eberhardt
												<span class="light small">- 16 days ago</span>
											</span>

                                        <span class="line desc small">
												On so attention necessary at by provision otherwise existence direction.
											</span>
                                    </a>
                                </li>

                                <div class="ps-scrollbar-x-rail"
                                     style="display: block; width: 0px; left: 0px; bottom: 3px;">
                                    <div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div>
                                </div>
                                <div class="ps-scrollbar-y-rail"
                                     style="display: block; top: 0px; height: 0px; right: 2px;">
                                    <div class="ps-scrollbar-y" style="top: 0px; height: 0px;"></div>
                                </div>
                            </ul>

                        </li>

                        <li class="external">
                            <a href="blank-sidebar.html">
                                <span>All Messages</span>
                                <i class="fa-link-ext"></i>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown hover-line" style="min-height: 76px;">
                    <a href="#" data-toggle="dropdown">
                        <i class="fa-bell-o"></i>
                        <span class="badge badge-purple">7</span>
                    </a>

                    <ul class="dropdown-menu notifications">
                        <li class="top">
                            <p class="small">
                                <a href="#" class="pull-right">Mark all Read</a>
                                You have <strong>3</strong> new notifications.
                            </p>
                        </li>

                        <li>
                            <ul class="dropdown-menu-list list-unstyled ps-scrollbar ps-container">
                                <li class="active notification-success">
                                    <a href="#">
                                        <i class="fa-user"></i>

                                        <span class="line">
												<strong>New user registered</strong>
											</span>

                                        <span class="line small time">
												30 seconds ago
											</span>
                                    </a>
                                </li>

                                <li class="active notification-secondary">
                                    <a href="#">
                                        <i class="fa-lock"></i>

                                        <span class="line">
												<strong>Privacy settings have been changed</strong>
											</span>

                                        <span class="line small time">
												3 hours ago
											</span>
                                    </a>
                                </li>

                                <li class="notification-primary">
                                    <a href="#">
                                        <i class="fa-thumbs-up"></i>

                                        <span class="line">
												<strong>Someone special liked this</strong>
											</span>

                                        <span class="line small time">
												2 minutes ago
											</span>
                                    </a>
                                </li>

                                <li class="notification-danger">
                                    <a href="#">
                                        <i class="fa-calendar"></i>

                                        <span class="line">
												John cancelled the event
											</span>

                                        <span class="line small time">
												9 hours ago
											</span>
                                    </a>
                                </li>

                                <li class="notification-info">
                                    <a href="#">
                                        <i class="fa-database"></i>

                                        <span class="line">
												The server is status is stable
											</span>

                                        <span class="line small time">
												yesterday at 10:30am
											</span>
                                    </a>
                                </li>

                                <li class="notification-warning">
                                    <a href="#">
                                        <i class="fa-envelope-o"></i>

                                        <span class="line">
												New comments waiting approval
											</span>

                                        <span class="line small time">
												last week
											</span>
                                    </a>
                                </li>
                                <div class="ps-scrollbar-x-rail"
                                     style="display: block; width: 0px; left: 0px; bottom: 3px;">
                                    <div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div>
                                </div>
                                <div class="ps-scrollbar-y-rail"
                                     style="display: block; top: 0px; height: 0px; right: 2px;">
                                    <div class="ps-scrollbar-y" style="top: 0px; height: 0px;"></div>
                                </div>
                            </ul>
                        </li>

                        <li class="external">
                            <a href="#">
                                <span>View all notifications</span>
                                <i class="fa-link-ext"></i>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>


            <!-- Right links for user info navbar -->
            <ul class="user-info-menu right-links list-inline list-unstyled">

                <li class="search-form" style="min-height: 76px;">
                    <!-- You can add "always-visible" to show make the search input visible -->

                    <form method="get" action="extra-search.html">
                        <input type="text" name="s" class="form-control search-field" placeholder="Type to search...">

                        <button type="submit" class="btn btn-link">
                            <i class="linecons-search"></i>
                        </button>
                    </form>

                </li>

                <li class="dropdown user-profile" style="min-height: 76px;">
                    <a href="#" data-toggle="dropdown">
                        <img src="static/admin/assets/images/user-4.png" alt="user-image"
                             class="img-circle img-inline userpic-32"
                             width="28">
                        <span>
								{{ userinfo.username }}
								<i class="fa-angle-down"></i>
							</span>
                    </a>

                    <ul class="dropdown-menu user-profile-menu list-unstyled">
                        <li>
                            <a href="#edit-profile">
                                <i class="fa-edit"></i>
                                New Post
                            </a>
                        </li>
                        <li>
                            <a href="#settings">
                                <i class="fa-wrench"></i>
                                设置
                            </a>
                        </li>
                        <li>
                            <a href="#profile">
                                <i class="fa-user"></i>
                                Profile
                            </a>
                        </li>
                        <li>
                            <a href="#help">
                                <i class="fa-info"></i>
                                Help
                            </a>
                        </li>
                        <li class="last">
                            <a href="/loginuot.html">
                                <i class="fa-lock"></i>
                                注销
                            </a>
                        </li>
                    </ul>
                </li>

                <li style="min-height: 76px;">
                    <a href="#" data-toggle="chat">
                        <i class="fa-comments-o"></i>
                    </a>
                </li>

            </ul>

        </nav>
        <div class="page-title">

            <div class="title-env">
                <h1 class="title">Profile</h1>
                <p class="description">User profile and story timeline</p>
            </div>

            <div class="breadcrumb-env">

                <ol class="breadcrumb bc-1">
                    <li>
                        <a href="dashboard-1.html"><i class="fa-home"></i>Home</a>
                    </li>
                    <li>

                        <a href="extra-gallery.html">Extra</a>
                    </li>
                    <li class="active">

                        <strong>Profile</strong>
                    </li>
                </ol>

            </div>

        </div>
        <section class="profile-env">

            <div class="row">

                <div class="col-sm-3">

                    <!-- User Info Sidebar -->
                    <div class="user-info-sidebar">

                        <a href="#" class="user-img">
                            <img src="static/admin/assets/images/user-4.png" alt="user-img"
                                 class="img-cirlce img-responsive img-thumbnail">
                        </a>

                        <a href="#" class="user-name">
                            {{ userinfo.username }}
                            <span class="user-status is-online"></span>
                        </a>

                        <span class="user-title">
								CEO at <strong>Google</strong>
							</span>

                        <hr>

                        <ul class="list-unstyled user-info-list">
                            <li>
                                <i class="fa-home"></i>
                                个人中心
                            </li>
                            <li>
                                <i class="fa-envelope"></i>
                                <a href="#">{{ userinfo.email }}</a>
                            </li>
                            <li>
                                <i class="fa-legal"></i>
                                Python Web开发
                            </li>
                        </ul>

                        <hr>

                        <ul class="list-unstyled user-friends-count">
                            <li>
                                <span>643</span>
                                followers
                            </li>
                            <li>
                                <span>108</span>
                                following
                            </li>
                        </ul>

                        <button type="button" class="btn btn-success btn-block text-left">
                            Following
                            <i class="fa-check pull-right"></i>
                        </button>
                    </div>

                </div>

                <div class="col-sm-9">

                    <!-- User Post form and Timeline -->


                    <!-- User timeline stories -->
                    <div class="col-sm-12">
                        <p class="bg-danger dis" id="error_msg">Way now instrument had eat diminution melancholy
                            expression.</p>

                        <div class="panel panel-default">

                            <div class="panel-heading">
                                <div class="panel-title">个人信息</div>
                            </div>

                            <div class="panel-body">

                                <div class="form-group">


                                    <div class="input-group input-group-sm input-group-minimal">
										<span class="input-group-addon">
											<i class="fa-user"></i>
										</span>
                                        <input type="text" class="form-control" value="{{ userinfo.username }}">
                                        <span style="display: none" id="user_id">{{ userinfo.id }}</span>
                                    </div>

                                    <br>

                                    <div class="input-group input-group-sm input-group-minimal">
										<span class="input-group-addon">
											<i class="fa-envelope"></i>
										</span>
                                        <input type="text" class="form-control" value="{{ userinfo.email }}">
                                    </div>

                                    <br>
                                    <label class="control-label">当前密码</label>

                                    <div class="input-group input-group-sm input-group-minimal col-sm-10">
										<span class="input-group-addon">
											<i class="fa-lock"></i>
										</span>
                                        <input type="text" name="corrent_password" id="auth_password_input"
                                               class="form-control">
                                        <button class="btn btn-purple btn-icon btn-xs" id="auth_password">
                                            <span>验证密码</span>
                                            <i class="fa-send"></i>
                                        </button>
                                    </div>

                                    <br>
                                    <label class="control-label">新密码</label>

                                    <div class="input-group input-group-sm input-group-minimal">
										<span class="input-group-addon">
											<i class="fa-lock"></i>
										</span>
                                        <input type="text" class="form-control">
                                    </div>

                                    <br>
                                    <label class="control-label">新密码</label>

                                    <div class="input-group input-group-sm input-group-minimal">
										<span class="input-group-addon">
											<i class="fa-lock"></i>
										</span>
                                        <input type="text" class="form-control">
                                    </div>

                                </div>

                            </div>

                            <button class="btn btn-purple btn-icon btn-xs senddata">
                                <span>保存</span>
                                <i class="fa-send"></i>
                            </button>

                        </div>

                    </div>

                </div>

            </div>

        </section>


        <script type="text/javascript">
            function initialize() {
                var $ = jQuery,
                        map_canvas = $("#sample-checkin");

                var location = new google.maps.LatLng(36.738888, -119.783013),
                        map = new google.maps.Map(map_canvas[0], {
                            center: location,
                            zoom: 14,
                            mapTypeId: google.maps.MapTypeId.ROADMAP,
                            scrollwheel: false
                        });

                var marker = new google.maps.Marker({
                    position: location,
                    map: map
                });
            }

        </script>
        <!-- Main Footer -->
        <!-- Choose between footer styles: "footer-type-1" or "footer-type-2" -->
        <!-- Add class "sticky" to  always stick the footer to the end of page (if page contents is small) -->
        <!-- Or class "fixed" to  always fix the footer to the end of page -->
        <footer class="main-footer sticky footer-type-1" style="">

            <div class="footer-inner">

                <!-- Add your copyright text here -->
                <div class="footer-text">
                    © 2014
                    <strong>Xenon</strong>
                    theme by <a href="http://laborator.co" target="_blank">Laborator</a>
                </div>


                <!-- Go to Top Link, just add rel="go-top" to any link to add this functionality -->
                <div class="go-up">

                    <a href="#" rel="go-top">
                        <i class="fa-angle-up"></i>
                    </a>

                </div>

            </div>

        </footer>
    </div>


{% endblock %}




{% block script %}
    <script>
        $(function () {

            $("#auth_password").click(function () {
                var password = $("input[name='corrent_password']").val();
                $.ajax({
                    url: "/auth_pwd.html",
                    type: "POST",
                    dataType: "json",
                    data: {"password": password, "user_id": $("#user_id").text()},
                    success: function (data) {
                        if (data.status) {
                            $(".input-group-addon i.fa-lock").removeClass("fa-lock").addClass("fa-unlock");
                            $("#error_msg").addClass("dis");
                        } else {
                            $(".input-group-addon i.fa-unlock").removeClass("fa-unlock").addClass("fa-lock");
                            $("#error_msg").removeClass("dis");
                            $("#error_msg").text("密码错误！请输入正确密码~")
                        }
                    }
                })
            })
        })
    </script>

{% endblock %}